* text=auto eol=lf
# This confusing `-diff` ensures `dist/air-action/index.js` is treated like a binary file
# so we don't see expanded diffs by default in the Pull Request files view
dist/** -diff linguist-generated=true
